.footer-line { 
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Roboto;

    &-link{
        color: white;
        font-size: 20px;
        text-decoration: none;
    }
}